body{
background-image: url("https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.2e16d0ba.fill-1422x800.jpg");
background-repeat: no-repeat;
background-image: center;
background-size: cover;
font-family: Roboto, sans-serif;

}
h2{
  color: Black;
}



#content {
  height: 200px;
    width: 600px;
    background: ;

    position: fixed;
    top: 50%;
    left: 45%;
    margin-top: -180px;
    margin-left: -270px;
}
/* .ClassName{
  height: 400px;
    width: 800px;
} */

  /* h1{
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: %;
        transform: translate(-50%, -50%)
  } */
